body{background-color:#a9e5fc;
     padding: 200px;
text-align:center;
height:100vh;
  color:#2cbcf5}
button{font-size:35px;
  font-family:Monospace;
width:150px;
height:70px;
color:#028fc7;
background-color:#8dddfc;
border-radius:30px}
