body{background-color:#a9e5fc;
     display: flex;
     justify-content:center;
     align-items:center;}
h1{color:#2cbcf5}
h2{color:#5fcefa}
button{background-color:#96defa;
   color:#008bc2;
   border-radius: 30px;
   height:30px;
   width:130px;}
